<div>
    <div>
        <p>Постановка задачи:</p>
        <p>Модель поставляется в json-файле.</p>
        <p>
            Необходимо разработать компонент который на базе переданной модели создает и загружает в себя angular-компонент, т.е. необходимо в рантайм (после того как angular-приложение уже загрузилось, и была выполнена процедура bootstrap):
        </p>
        <ol>
            <li>
              загрузить HTTP-запросом json-файл (путь передается входным параметром компонента);
            </li>
            <li>
              создать корректный HTML-шаблон по загруженной модели;
            </li>
            <li>
              создать angular-компонент с полученным шаблоном и скомпилировать его;
            </li>
            <li>
              загрузить компонент.
            </li>
        </ol>            
    </div>
    <div appHtmlOutlet [html]="dynamicElement">
        Здесь будет вставлен динамический компонент:
    </div>
    <div>
        Просьба обратить особое внимание на третий и четвёртый пункт ТЗ. Задание не считается выполненным, если так или иначе используется манипуляция DOM`ом существующего компонента. Т.е компонент должен создаваться директивой Component в runtime (после того, как выполнена процедура bootstrapModule). 
    </div>
</div>
